$primary-color: rgb(107, 169, 172);
$secondary-color: rgb(130, 135, 135);

/* Rest of your styles using variables */
.profile-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
    padding: 0%;
    margin: 24px 55px 24px 40px;
}

h1 {
  font-weight: bolder;
  font-size: 30px;
  color: $primary-color;
  margin: 10px 0 10px o;
}

h3 {
  font-weight: 900;
  font-size: 32px;
  margin: 10px 0 10px 0;
}

h6 {
  font-size: 24px;
  color: $secondary-color;
  margin: 10px 0 10px 0;
}
